<%- include("../partials/header.ejs");%>

<div class="editUser-container">
  <h1><center>Edit Challenge</center></h1>
  <div class="backContainer">
    <a
      href="#"
      onclick="window.location.href=document.referrer;"
      class="backbutton"
      >Back</a
    >
  </div>

  <form
    action="/updateBanner/<%= Banner.id %>"
    method="post"
    enctype="multipart/form-data"
  >
    <input type="hidden" name="id" value="<%= Banner.id %>" />
    <img
      id="image"
      src="<%=Banner.image %>"
      width="100"
      style="cursor: pointer; border-radius: 10px"
    />

    <input
      type="file"
      name="image"
      id="imageUpload"
      accept="image/*"
      style="display: none"
    />
   

    <button type="submit">Update</button>
  </form>



  <script>
    document.getElementById("Banner").addEventListener("click", function () {
      document.getElementById("BannerUpload").click();
    });

    document
      .getElementById("BannerUpload")
      .addEventListener("change", function (event) {
        const file = event.target.files[0];
        if (file) {
          const reader = new FileReader();
          reader.onload = function (e) {
            document.getElementById("Banner").src = e.target.result;
          };
          reader.readAsDataURL(file);
        }
      });
  </script>

  <%- include("../partials/footer.ejs");%>
</div>
